/* general styles */
section {
    padding-left: 2%;
    padding-right: 2%;
}

body {
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p, ul, li {
    padding: 0;
    margin: 2px;
    font-size: 14px;
}