body {
  font-family: helvetica, sans-serif;
  width: 30rem;
  margin: auto;
}

@media screen and (max-width: 500px) {
    body {
        width: 90%
    }
}

div {
  padding-bottom: 10px;
  padding-top: 10px;
  /* border: black 1px solid; */
  text-align: center;
  font-size: large;
}

#surround {
    border: 3px black dotted;
    background-color: rgb(206, 232, 255);
  }

label {
    font-weight: bold;
    font-size: medium;
  }

input[type="text"] {
  padding: 7px;
  width: 150px;
}

button {
  font-size: large;
}

h1 {
  align-self: center;
}

p {
  background: rgb(205, 255, 236);
  border: 3px black dotted;
  padding: 20px;
  visibility: hidden;
  font-size: large;
}
