html {
    height: 100%;
    margin: 0;
    padding: 0;
    /* white-space: nowrap; */
    overflow: hidden;
    /* border: 1px solid black; */
}

body {
    background-image: url(/img/car.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    /* border: 5px solid rgb(0, 161, 19); */
    height: 100%;
}

p {
    text-overflow: clip;
    text-overflow: hidden;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
}

.productInfo{
    background-color: white;
    color: rgb(201, 102, 10);
    text-align: center;

    border: .2rem solid rgb(201, 102, 10);
    border-radius: 10px;

    width: 20%;
    /* height: 0; */
    line-height: 0rem;
}

#infoTitle {
    font-size: xx-large;
    font-weight: bolder;
    padding: .3rem 0 .3rem 0;

    position: relative;
    top: 2rem;
    left: 1rem;
}

.logo {
    background-image: url("/img/manOnComputer.jpg");
    /* background-size: 5%; */
    position: relative;
    top: 2rem;
    right: 1rem;
}

#info {
    font-size: x-large;
    font-weight: bolder;
    padding: .3rem 0 .3rem 0;
    
    position: relative;
    top: 3rem;
    left: 1rem;
}

#word { 
    /* width: 200px;  */
    line-height: normal;
    margin: 1rem;
} 

#contact{
    background-color: rgb(201, 102, 10);
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight:1000;

    border: .2rem solid rgb(201, 102, 10);
    border-radius: 10px;

    width: 50%;
    height: auto;
    line-height: 0rem;
    padding: 0rem .5rem 0rem .5rem;

    position: absolute;
    bottom: 2rem;
    right:12.5%;
}